
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeliversDetails</title>
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td><strong>出库单号</strong></td>
                        <td id="id"></td>
                        <td><strong>类型</strong></td>
                        <td id="type"></td>
                        <td><strong>状态</strong></td>
                        <td id="zhuangt"></td>
                    </tr>
                    <tr>
                        <td><strong>客户编号</strong></td>
                        <td id="gid"></td>
                        <td><strong>客户名称</strong></td>
                        <td id="gname"></td>
                        <td><strong>联系人</strong></td>
                        <td id="person"></td>
                    </tr>
                    <tr>
                        <td><strong>关联订单号</strong></td>
                        <td id="order"></td>
                        <td><strong>创建人</strong></td>
                        <td id="cperson"></td>
                        <td><strong>创建时间</strong></td>
                        <td id="time"></td>
                    </tr>
                    <tr>
                        <td><strong>电话</strong></td>
                        <td id="tel"></td>
                        <td><strong>地址</strong></td>
                        <td colspan="4" id="remake"></td>

                    </tr>
                </tbody>
            </table>
            <table class="layui-table" style="margin-top:50px">
                <tr style="color:#000000">
                    <td><strong>产品名称</strong></td>
                    <td><strong>产品规格</strong></td>
                    <td><strong>单价</strong></td>
                    <td><strong>出库数</strong></td>
                    <td><strong>总价</strong></td>

                </tr>
                <tbody class="layui-table-body" id="tbo"></tbody>
            </table>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/layer/layer.js"></script>
<script src="~/X-admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="~/X-admin/js/xadmin.js"></script>
<script>
    var id = @Request.QueryString["id"];

    $(function () {
        a();
        b();
    })
    function conventTime(op) {
        var date = new Date(parseInt(op.substr(6)));
        return date.toLocaleDateString();
    }
    function a() {
        $.ajax({
            type: "POST", //提交方式
            url: "/WST/Delives",//请求URL路径
            data: "{id:" + id + "}",//向服务器传递的参数
            dataType: "json",//预期服务器返回的数据类型
            contentType: "application/json",//发送信息至服务器时内容编码类型
            //请求成功后的回调函数
            success: function (result) {
                console.log(result);
                $("#id").text(result[0].DeliId);
                $("#type").text(result[0].DeliType);
                $("#zhuangt").text(result[0].AudiName);
                $("#gid").text(result[0].CusId);
                $("#gname").text(result[0].CusName);
                $("#person").text(result[0].CusName);
                $("#order").text(result[0].DeliaOrder);
                $("#cperson").text(result[0].DeliPerson);
                $("#time").text(conventTime(result[0].CreateTime));
                $("#tel").text(result[0].CusTel);
                $("#remake").text(result[0].address);
            },
            //请求失败的回调函数
            error: function (ex) {
                alert("error:" + ex);
            }
        })
    }
    function b() {
        $.ajax({
            type: "POST", //提交方式
            url: "/WST/DeliverPro",//请求URL路径
            data: "{ids:" + id + "}",//向服务器传递的参数
            dataType: "json",//预期服务器返回的数据类型
            contentType: "application/json",//发送信息至服务器时内容编码类型
            //请求成功后的回调函数
            success: function (result) {
                console.log(result);
                $.each(result, function (index, data) {
                    $("#tbo").append("<tr><td>" + data.ProName + "</td><td>" + data.PorGuiGe + "</td><td>" + data.ProPrice + "</td><td>" + data.ProChukNum + "</td><td>" + (data.ProPrice * data.ProChukNum)+"</td><tr>")
                })
            },
            //请求失败的回调函数
            error: function (ex) {
                alert("error:" + ex);
            }
        })
    }
</script>