
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>password</title>
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">

            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_usernames" value="@Request.QueryString["name"]" disabled class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>旧密码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="oldL_repass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>新密码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_pass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_repass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" id="btn">修改</button>
            </div>
        </div>
    </div>

</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/layer/layer.js"></script>
<script src="~/X-admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="~/X-admin/js/xadmin.js"></script>

<script>
    var name = $("#L_usernames").val();

    $(function () {


    })
    $("#btn").click(function () {
        var oldPwd = $("#oldL_repass").val();
        var Pwd = $("#L_pass").val();
        var Pwds = $("#L_repass").val();
        if (oldPwd != "" && Pwd != "" && Pwds != "") {
            $.ajax({
                type: "POST",//提交方式
                url: "/WST/Users",//请求的URL路径
                data: "{UserName:'" + name + "'}",//向服务器传递的参数
                dataType: "json",//预期服务器返回的数据类型
                contentType: "application/json",//发送信息至服务器时内容编码类型
                //请求成功后的回调函数
                success: function (result) {
                    if (oldPwd == result[0].PassWord) {
                        if (Pwd == Pwds) {
                            $.ajax({
                                type: "POST",//提交方式
                                url: "/WST/UpdataPwds",//请求的URL路径
                                data: "{id:" + result[0].Id + ",pwd:" + Pwd + "}",//向服务器传递的参数
                                dataType: "json",//预期服务器返回的数据类型
                                contentType: "application/json",//发送信息至服务器时内容编码类型
                                //请求成功后的回调函数
                                success: function (results) {
                                    if (results > 0) {
                                        layer.msg('修改成功', {
                                            icon: 6,
                                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                                        }, function () {
                                                $("#oldL_repass").val("");
                                                $("#L_pass").val("");
                                                $("#L_repass").val("");
                                        }); 
                                    }
                                },
                                error: function (ex) {
                                    alert("Error:" + ex.responseText);
                                }
                            });
                        } else {
                            layer.msg('新密码不一致', function () {
                            });
                        }
                    } else {
                        layer.msg('旧密码错误', function () {
                        });
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);
                }
            });
        } else {
            layer.msg('必填项不能为空', { icon: 5 });
            return;
        }
    })
</script>

